.chip {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  padding: 11px 10%;
  opacity: .9;
  background-color: var(--clr-primary-500);
  transition: top .5s ease;

  &__message {
    font-weight: bold;
    line-height: 18px;
  }
}

.chip-show {
  top: 93px;

  &.chip-move {
    top: 73px;
  }
}