.icon-colored {
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.icon-red {
  background-color: hsl(0deg, 84%, 75%);
}

.icon-blue {
  background-color: hsl(195deg, 86%, 64%);
}

.icon-green {
  background-color: hsl(145deg, 50%, 62%);
}

.icon-yellow {
  background-color: hsl(45deg, 86%, 62%);
}